body, table {
background-position: right top;
background-repeat: no-repeat;
background-color: #000000;
color: #FFFFFF;
font-family: Verdana, Lucida Grande, Verdana, Sans-Serif;
font-size: 10pt;
letter-spacing:.7px;
}

A:link, A:visited, A:active {
text-decoration: none;
color: #9933FF;
}

.label_blue {
font-weight: bold;
font-size: 12pt;
color: #6666FF;
#color: #FFFFFF;
}

p b {
color: #FFCCCC;
}

.title {
font-weight: bold;
font-size: 20pt;
color: #6666FF;
}

.line {
border: none 0; 
border-top: 1px solid #AAAAAA;
height: 1px;
margin: 10px auto 0 0;
}

.label_gray {
color: #AAAAAA;
font-size: 14px;
}

.left {
position: absolute;
left: 15px;
width: 800px;
}

p {
text-align: justify;
}

.descrip {
text-align: justify;
}

li div {
padding-top: 8px;
color: #33BBFF;
}

td {vertical-align: top}
